/* CSS for the Why choose Us section */
#ChooseUs{
 background-image:url('../images/backgrounwhiteup.png');
 background-size: 100% 100%;
 background-repeat: no-repeat;
}
#ChooseUs table{
    padding-left: 8%;
    padding-right: 15%;
    padding-top: 5%;
    width:100%;  
}
#ChooseUs table tr {
 height: 18vh;   
}
#ChooseUs table tr td{
    font-family: sans-serif;
    color:#fff;
    text-shadow: -1px -1px 1px #fafafa, 1px 1px 1px #030303;
	opacity: 0.8;
    font-size:5vh;
    width:46.5%;
    text-align: center;
    margin:auto;
}
tr .img {
    width:15%;
    margin:auto;
      -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    display:inline;
}
tr .img:hover{
    width:18%;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
#htmlSym ~ #htmlP {
    width:60%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    display:hidden;
}
#htmlSym:hover ~ #htmlP {
    display:block;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    transition-delay: 0.2s;
}
#cssSym ~ #cssP {
   width:60%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    display:hidden;
}
#cssSym:hover ~ #cssP {
    display:block;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    transition-delay: 0.2s;
}
#jsSym ~ #jsP {
    width:60%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    display:hidden;
}
#jsSym:hover ~ #jsP {
    width:60%;
    display:block;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    transition-delay: 0.2s;
}
#phpSym ~ #phpP {
    width:60%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    display:hidden;
}
#phpSym:hover ~ #phpP {
    display:block;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    transition-delay: 0.2s;
}
#mysqlSym ~ #mysqlP {
    width:60%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    display:hidden;
}
#mysqlSym:hover ~ #mysqlP {
    display:block;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    transition-delay: 0.2s;
}
#baseP {
    width:60%;
    display:block;
    position: absolute;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
    transition-delay: 0.2s;
    
}
.img:hover ~ #baseP {
    opacity: 0;
    transition-delay: 0.2s;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    display:hidden;
}