/* CSS for the Why choose Us section */
#ChooseUs{
        background-image:url('../images/backgrounwhiteup.png');
     background-size: 100% 100%;
    background-repeat: no-repeat;
}

#ChooseUs table{
    padding-left: 8%;
    padding-right: 10%;
    padding-top: 5%;
    width:100%;  
}

#ChooseUs table tr {
 height: 18vh;   
}

#ChooseUs table tr td{
    font-family: sans-serif;
    color:#fff;
    text-shadow: -1px -1px 1px #fafafa, 1px 1px 1px #030303;
	opacity: 0.8;
    font-size:5vh;
    width:46.5%;
    text-align: justify;
    margin:auto;
}

#webSym {
    width:15%;
    margin:auto;
}

#webSym:hover{
    width:18%;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    transition-delay: 0.3s;
}