#Logo{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width:400px;
  height:400px;
  margin-top: -200px;
  margin-left: -200px;
  /* sets the stack order to below everything else */
  z-index:-1;
}

/*for divs */
div {
    height:100vh;
    border: 2px solid;
    border-radius: 25px;
}

/* for divs within divs*/
div div {
    width:49%;
}


/*text inside the left and rights*/
div div p {
  font-size: 25px;
  font-family: Century Gothic, sans-serif;
  color:white;
  background-color: #606060 ;
  margin: 30px;
  padding: 10px;
  border-style:solid;
  border-color:#505050  #707070 ;
  border-width:8px;
  border-radius:8px;
    

/* gradients */
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, black), color-stop(15%, black), color-stop(100%, #606060)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #707070 130%); 
     
      
}
/* for Id's Lefta nd Right -- mainly within div div */
#Left {
   float: left;
}
#Right {
   float: right;
}

