body{
    margin: 0px;
  	background-color: black;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(left, #686868, #727376);
	border: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}
/* CSS for the Logo*/
#Logo {
    height: 60%;
    left:30%;
    display: block;
    position: relative;
    top: 20vh;
}
/*CSS for the Home Div, the area which holds the Logo */
#Home{
    background-image:url('../images/backgrounwhiteup.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*CSS for the Gear used to Select the current page */
#SelectorGear {
    height:55px;
    display: block;
    position:fixed;
    z-index: +5;
    top:4px
}
/*CSS for the gears */
#LargeGear {
    top:63%;
    right:2.5%;
    height: 45%;
    display: block;
    position:fixed;
}
#SmallGear {
    height: 30%;
    top: 4%;
    right: 3.5%;
    display: block;
    position:fixed;
}
#HugeGear {
    top: 20%;
    left:89%;
    height: 60%;
    display: block;
    position:fixed;
}
/*this gives no padding to all teh divs so we have more control over the spacing for now */
div {
    display: inline-block;
    border: none;
    padding: none;
    margin: none;
}
#centre {
	width: 80%;
}
/*CSS the right hand side, containing gears, 500VH as there are 5 "pages" */
#right {
  	background-color: black;
	height: 500vh;
	width: 10%;
}
/*CSS the left hand side,  500VH as there are 5 "pages" */
#left {
  	background-color: black;
	height: 500vh;
	width: 10%;
}
div div {
    height:100vh;
    display: block;
}

@media only screen and (max-device-width: 480px) {
/* CSS for the mobile site */
body{
    margin: 0px;
  	background-color: black;
}
right{
    display: none;
}
left{
    display:none;
}
#Logo {
    height: 60%;
    left:30%;
    display: block;
    position: relative;
    top: 20vh;
}
/*CSS for the Home Div, the area which holds the Logo */
#Home{
    background-image:url('../images/backgrounwhiteup.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}