#Logo {
    height: 60vh;
    width: 100%;
    display: block;
    position: relative;
    top: 20vh;
}

#PaintSplat {
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}

#LargeGear {
    height: 20vh;
    width: 20%;
    display: block;
    position:fixed;
}

#SmallGear {
    height: 10vh;
    top: 10vh;
    width: 10%;
    display: block;
    position:fixed;
}

#HugeGear {
    top: 5vh;
    left:90%;
    width: 50%;
    display: block;
    position:fixed;
}


div {
    display: inline-block;
    border: none;
    padding: none;
    margin: none;
}

#centre {
  	background-color: #308014;
	width: 60%;
}
#left {
  	background-color: red;
	height: 500vh;
	width: 20%;
}
#right {
  	background-color: red;
	height: 500vh;
	width: 20%;
}
div div {
    height:100vh;
    display: block;
}    

div div p {
  font-size: 25px;
  font-family: Century Gothic, sans-serif;
  color:black;
  position: absolute;
  z-index: +1;
  width:60%;
  margin-top:10vh;
}
