/* CSS for the Portfolio section */
#Portfolio{
    background-image:url('../images/backgrounup.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-right:10%;
}
#Portfolio table{
    margin:auto;
    padding-left: 10%;
    padding-right:10%;
    padding-top: 0%;
    width:80%;
    height:100%;
}
#Portfolio table tr {
  height: 80vh;
}
#Portfolio table tr td{
    font-family: sans-serif;
    align-content: center;
    text-align: center;
    color:#fff;
    text-shadow: -1px -1px 1px #fafafa, 1px 1px 1px #030303;
	opacity: 0.8;  
    font-size:3vh;
    text-align: justify;
    padding-right:5%;
    padding-left:5%;
    height:30%;
}
#Portfolio table tr td.title{
    color:#fff;
    text-shadow: -1px -1px 1px #fafafa, 1px 1px 1px #030303;
	opacity: 0.8;  
    font-size:5vh;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    width:50%;
    text-align: center;
    height:10%;
    text-decoration: underline;
}
#Portfolio table tr td.para{
    color:#fff;
    text-shadow: -1px -1px 1px #fafafa, 1px 1px 1px #030303;
	opacity: 0.8;  
    font-size:30px;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    height:20%;
}
#imageLarge{
    height: 50vh;
    width:100%;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    transition-delay: 0.1s;
    border: 5px solid gray;
}
#imageDescriptionCell {
    font-family: sans-serif;
    align-content: center;
    text-align: center;
    font-size:22px;
}  