/* CSS for the ContactUs section */
#LEFT{
    width: 45px;
    height: calc(100% - (145px)); 
    float: left;
    position: relative;
    background-color: white;
}
    
#RIGHT{
    width: 45px;
    height: calc(100% - (145px)); 
    float: right;
    background-color: white;
}

#ContactContent{
    
}

