/* CSS for the HomePage section */
#body{
    padding: 0;
    margin: 0;
}

#Banner{
  position:fixed;
  z-index: 10;
  color: red; 
  width: 100%;
    height: 100px;
}

#BannerLogoContact{
}

#Logo
{
    height:80px;
    position: relative;
    float: left;
}

#Logo img
{
    height: 60px;
    margin-left: 45px;
}